[Unit]
Description=RGB Script
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/tik/py/rgb-pi/rgb.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target